*, *::before, *::after {
    box-sizing: border-box;
    user-select: none;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    touch-action: none;       /* prevent swipe scrolling */
    overscroll-behavior: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
    background-color: #f7f7f7;
}

.world {
    overflow: hidden;
    position: relative;
    touch-action: none; /* prevent mobile scrolling */
    max-width: 100vw;
    max-height: 100vh;
}

.score, .highscore, .separator {
    position: absolute;
    font-size: 2vmin;
    color: #535353;
}

.score {
    right: 1vmin;
    top: 1vmin;
}

.highscore {
    right: 10vmin;
    top: 1vmin;
}

.separator {
    right: 7vmin;
    top: 1vmin;
}

.start-screen {
    position: absolute;
    font-size: 3vmin;
    color: #535353;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 1.5;
}

.hide {
    display: none;
}

.ground {
    --left: 0;
    position: absolute;
    width: 300%;
    bottom: 0;
    left: calc(var(--left) * 1%);
}

.clouds {
    --left: 0;
    top: 0;
    position: absolute;
    width: 150%;
    left: calc(var(--left) * 1%);
}

.dino {
    --bottom: 0;
    position: absolute;
    left: 5%;
    height: 25%; /* slightly smaller on mobile */
    bottom: calc(var(--bottom) * 1%);
}

.cactus {
    position: absolute;
    left: calc(var(--left) * 1%);
    height: 25%; /* slightly smaller on mobile */
    bottom: 0;
}

@media (max-width: 500px) {
    .start-screen {
        font-size: 4vmin;
    }

    .dino, .cactus {
        height: 30%; /* scale up for small phones */
    }

    .score, .highscore, .separator {
        font-size: 3vmin;
    }
}
